<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{app.name}}</title>
</head>
<body>
    <p>
        Aplication : {{app.name}} <br>
        Versi : {{app.versi}}
    </p>
</body>
</html>